{% extends 'base.html' %}
{% block content %}
<h1>Help Center</h1>
<div class="accordion" id="faqAccordion">
{% for faq in faqs %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ faq.id }}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ faq.id }}">
        {{ faq.question }}
      </button>
    </h2>
    <div id="collapse{{ faq.id }}" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
      <div class="accordion-body">{{ faq.answer|linebreaks }}</div>
    </div>
  </div>
{% endfor %}
</div>
<a href="{% url 'ticket_list' %}" class="btn btn-primary mt-3">My Support Tickets</a>
{% endblock %}